<div class='jumbotron welcome'>

  <div class='container'>
    <div class='col-sm-8'>
      <h1 class='pageheader'>Manage your expenses</h1>
      <p class='lead'>Use Declare to manage your expense declarations.</p>
      <%= link_to 'Sign up', '#', class: 'btn btn-lg btn-primary' %>
    </div>

    <div class='col-sm-4 visible-md visible-lg'>
      <%= image_tag "coin.jpeg" %>
    </div>
  </div>

</div>

<div class='container-fluid'>
  <div class='row text-center'>
    <div class='col-sm-6 col-lg-3'>
      <i class="fa fa-money fa-5x" aria-hidden="true"></i>
      <h3>Expense management</h3>
      <p>Manage and send in your expenses</p>
    </div>
    <div class='col-sm-6 col-lg-3'>
      <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
      <h3>Statistics</h3>
      <p>Get insights into your expenses</p>
    </div>
    <div class='col-sm-6 col-lg-3'>
      <i class="fa fa-arrows-h fa-5x" aria-hidden="true"></i>
      <h3>Match payments</h3>
      <p>Match your declarations with received payments</p>
    </div>
    <div class='col-sm-6 col-lg-3'>
      <i class="fa fa-tablet fa-5x" aria-hidden="true"></i>
      <h3>Mobile devices</h3>
      <p>Get the app for mobile devices</p>
    </div>
  </div>
</div>
