<% content_for(:breadcrumb) do %>
  <%= breadcrumb() %>
<% end %>

<div class='columns'>

  <div class='column is-4'>
    <section class='hero'>
      <div class='hero-body'>
        <div class='container'>
          <h1 class='pageheader title is-1'>Manage your expenses</h1>
          <h2 class='subtitle is-4'>Use Declare! to manage your expense declarations.</h2>
          <p><%= link_to 'Sign up', signup_path, id: 'sign-up', class: 'button is-primary' %></p>
        </div>
      </div>
    </section>

  </div>

  <div class='column is-4 is-offset-2 has-text-centered'>
    <%= image_tag "coin.jpeg" %>
  </div>

</div>

<div class='columns is-multiline'>

  <div class='column is-3 has-text-centered'>
    <i class="fa fa-money fa-5x"></i>
    <h1 class='title is-3'>Expense management</h1>
    <h2 class= 'subtitle is-5'>Manage and send in your expenses</h2>
  </div>

  <div class='column is-3 has-text-centered'>
    <i class="fa fa-bar-chart fa-5x"></i>
    <h1 class='title is-3'>Statistics</h1>
    <h2 class= 'subtitle is-5'>Get insights into your expenses</h2>
  </div>

  <div class='column is-3 has-text-centered'>
    <i class="fa fa-arrows-h fa-5x"></i>
    <h1 class='title is-3'>Match payments</h1>
    <h2 class= 'subtitle is-5'>Match your declarations with received payments</h2>
  </div>

  <div class='column is-3 has-text-centered'>
    <i class="fa fa-tablet fa-5x"></i>
    <h1 class='title is-3'>Mobile devices</h1>
    <h2 class= 'subtitle is-5'>Get the app for mobile devices</h2>
  </div>

</div>
