<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Contact' => contact_path, 'Show message' => '#') %>
<% end %>

<div class='container'>

  <div class='row'>
    <div class='col-md-6 col-md-offset-2'>

      <h1 class='pageheader'>Contact</h1>

      <p>Your message has been sent.</p>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <p class="form-control-static"><%= @contact_message.email %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Message</label>
          <div class="col-sm-9">
            <p class="form-control-static"><%= @contact_message.message %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Sent at</label>
          <div class="col-sm-9">
            <p class="form-control-static"><%= @contact_message.created_at %></p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
