<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Currencies' =>'#') %>
<% end %>

<div class='container'>

  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>

      <%= nav_tab('Currencies' => '#',
                  'Expense types' => expense_types_path,
                  'Payment types' => payment_types_path) %>

      <table class='table table-hover'>
        <thead>
          <th>Code</th>
          <th>Name</th>
          <th>Created at</th>
        </thead>

        <tbody>
          <%= render @currencies %>
        </tbody>

      </table>

    </div>
  </div>
</div>
