<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Users' =>'#') %>
<% end %>

<div>

  <%= pageheader('Users') %>

  <%= table(['Name', 'Email', 'Admin', 'Created at', 'Updated at']) do %>
    <%= render @users %>
  <% end %>

</div>
