<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Sign up' =>'#') %>
<% end %>

<div class='columns'>
  <div class='column is-6 is-offset-one-quarter'>

    <%= pageheader('Sign up') %>

    <%= render partial: 'form', locals: { user: @user } %>

  </div>
</div>
