<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Projects' => projects_path, 'Add Project' => '#') %>
<% end %>

<div class='container'>

  <div class='row'>
    <div class='col-md-6 col-md-offset-2'>

      <h1 class='pageheader'>Add project</h1>

    </div>
  </div>
</div>
