<% content_for(:breadcrumb) do %>
  <%= breadcrumb('Projects' => projects_path, 'Add Project' => '#') %>
<% end %>

<div class='columns'>

  <div class='column is-6 is-offset-one-quarter'>

    <%= pageheader('Add project') %>

    <%= render partial: 'form', locals: { project: @project } %>

  </div>
</div>
