<tr>
  <td id='project-name'><%= project.name %></td>
  <td id='project-outstanding-amount'><%= project.outstanding_amount %></td>
  <td id='project-total-amount'><%= project.total_amount %></td>
</tr>
