main {
  min-height: 1000px;
}

.navbar-brand {
  a {
    font-weight: bold;
    font-size: 2em;
  }
}

footer {

  ul {
    list-style-type: none;

    li {
      display: inline;

      &:not(:last-child):after {
        content: '|';
        margin-left: 10px;
      }
    }
  }

}

img {
  height: 250px;
  width:  auto;
}
