<%= yield(:breadcrumb) %>

<main class='container-fluid'>
  <div class='row'>
    <div class='<%= content_for?(:layout_full)? yield(:layout_full) : 'col-md-6 col-md-offset-3' %>'>
      <%= yield %>
    </div>
  </div>
</main>


